<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jadval</title>
<style>
        table{border-collapse: collapse;
            width: 800px;
            font-size: 45px;}
        td,th{background-color: rgb(247, 66, 66);
            border: 1px solid greenyellow;
            color: rgb(18, 8, 109);}
        th{color: rgb(2, 2, 61);background-color: grey;}
    </style>
</head>
<body>
    <h1>4chi darsga xush kelibsiz.</h1>
    <table border="20">
        <tr>
            <th>Nomer</th>
            <th>Nomi</th>
            <th>Mamlakat</th>
            <th>Yil</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Cobolt</td>
            <td>Uzbek</td>
            <td>2020</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Buggati</td>
            <td>Germaniya</td>
            <td>2020</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lambarghni</td>
            <td>Ispaniya</td>
            <td>2020</td>
        </tr>
    </table>
</body>
</html>