<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurs</title>
<style>
        body {font-family: 'Times New Roman', Times, serif;
    padding: 40px;
margin: 30px;
background-color: rgb(71, 9, 128);}

        h1{color: rgb(40, 211, 182);}
        .rang{color: rgb(40, 200, 200);}
    </style>
</head>
<body>
    <h1>Salom o'qish.</h1>
    <h2>Kurs</h2>
    <h5>Tillar</h5>
    <ul>
        <li>Uzbek</li>
        <li class="rang">Ingiliz</li>
        <li>Nemis</li>
    </ul>
    <h3>Pladformaga kirish.</h3>
    <label for="fname">Ismingizni kiriting</label><br>
    <input type="text" name="fname"><br>
    <label for="pwd">Parol</label><br>
    <input type="password" name="pwd"><br>
    <input type="submit" value="Kirish">
</body>
</html>