<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabiat</title>
    <style>
            img {width:350px;}
    </style>
    </head>
    <body>
        <h1>Salom dunyo</h1>
        <h2>Tabiat go'zaligi</h2>
        <img src="tabiat.jpg" alt="bu tabiat">
        <h5>Bizning tabiat juda go'zal.</h5>
        <img src="gul.jpg" alt="gul">
        <ul>
            <li>Abdulloh</li>
            <li>Aziz</li>
            <li>Sardor</li>
        </ul>
        <a href="https://google.com">Google</a>
        <q>Lorem <b>ipsum</b> dolor sit amet consectetur, adipisicing elit. Similique vitae aspernatur possimus error temporibus quibusdam assumenda illum cupiditate voluptates nesciunt. <br><br>Perferendis cumque numquam unde libero distinctio amet fuga impedit. Iste.</q>
    </body>
</html>